.wrapper {
  padding: 50px 15px;
}


.user-content{
  display: flex;
  background-color: rgb(241, 244, 248);
  border: 1px solid rgb(249, 251, 253);
  border-radius: 8px;
  padding: 10px;
}

.user-data{
  display: flex;
  flex-direction: column;
  p {
    margin: 7px 10px;
  }
}


.user-image{
  max-width: 150px;
  img {
    width: 100%;
  }
}

.delete-button, .edit-button {
  font-weight: 500;
  display: inline-block;
  width: 100%;
  max-width: 125px;
  height: 40px;
  background-color: rgb(110, 131, 183);
  border: 1px solid rgb(249, 251, 253);
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background-color: rgb(66, 186, 150);
    color: white;
  }
}

.delete-button{
  &:hover {
    background-color: rgb(223, 71, 89);
    color: white;
  }
}

.controls-container{
  display: flex;
  margin-top: 55px;
  justify-content: space-between;
}

.controls-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 275px;
  width: 100%;
  justify-content: space-around;
  height: 130px;
  margin-left: 50px;
}